# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List Commonly used libraries for Data Science
* Table of Data Science tools
* Arithmetic expressions using Python

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Leafly
3. Plotly

|Data Science Tools|
|------------------|
|git|
|ApacheKafka|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Erica Young